
<div class="cuerpo">
  <h1>Smart Home</h1>
<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;" >
  <div class="container-fluid">
    <a class="navbar-brand" >
      Administrador Local
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
          <ul class="dropdown-menu">
            <li><a href="/crear-admin-local" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-item" >Crear</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/read-admin-local">Buscar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/update-admin-local">Actualizar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/delete-admin-local">Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones avanzadas
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administrar invitados
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../invitado-crear/" >Crear</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../invitado-buscar/">Buscar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../invitado-actualizar/">Actualizar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../invitado-eliminar/">Eliminar</a></li>
              </ul>
              <li><hr class="dropdown-divider"></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Modos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../modo1/" >Modo 1</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../modo2/">Modo 2</a></li>
              </ul>
              <li><hr class="dropdown-divider"></li>
            <li class="nav-item dropdown">
              <a class="dropdown-item" href="../adjust-time/">
                Ajuste de tiempo de envio y recepccion
              </a>
            </li>
          </ul>
        </li>
        
      </ul>
      
        <button class="btn btn-primary" type="submit" (click)="logout()">Log Out</button>
      
    </div>
  </div>
</nav>
</div>