<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Seleccione la opción a la que desea acceder
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Luces</a></li>
      <li><a class="dropdown-item" href="#">Alarma</a></li>
      <li><a class="dropdown-item" href="#">Temperatura</a></li>
      <li><a class="dropdown-item" href="#">Opciones avanzadas</a></li>
    </ul>
  </div>
