.arrow-icon {
    cursor: pointer;
  }

.my-container {
    display: inline-block; /* Mostrar como bloque en línea para que el color de fondo se ajuste al contenido */
    background-color: rgb(0, 118, 187); /* Cambia "lightblue" por el color que prefieras */
    padding: 10px; /* Añade un poco de espacio alrededor de los elementos */
    border: 2px solid rgb(0, 14, 90); /* Cambia a tu color y grosor deseado */
    padding: 10px; /* Opcional: agrega relleno dentro del borde */
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
    margin-left: 10px;
    margin-right: 10px;
}

.mc1{
  color: white;
}

.mc2{
  color: rgb(0, 118, 187);
}


#container h2 {
    margin-right: 10px; /* Ajusta el valor según tu preferencia para separar el título del botón */
    margin-top: 15px;
}

.my-container2 {
    display: inline-block; /* Mostrar como bloque en línea para que el color de fondo se ajuste al contenido */
    background-color: white; /* Cambia "lightblue" por el color que prefieras */
    padding: 10px; /* Añade un poco de espacio alrededor de los elementos */
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgb(0, 14, 90); /* Cambia a tu color y grosor deseado */
    padding: 10px; /* Opcional: agrega relleno dentro del borde */
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
  }

#container2 h2 {
    margin-right: 10px; /* Ajusta el valor según tu preferencia para separar el título del botón */
    margin-top: 15px;
}

.my-container3 {
  display: inline-block; /* Mostrar como bloque en línea para que el color de fondo se ajuste al contenido */
  background-color: rgb(0, 118, 187); /* Cambia "lightblue" por el color que prefieras */
  padding: 10px; /* Añade un poco de espacio alrededor de los elementos */
}

#container2 h2 {
  margin-right: 10px; /* Ajusta el valor según tu preferencia para separar el título del botón */
  margin-top: 15px;
}