h1{
    
    margin-bottom: 0px;
    margin-top: 50px;
    
    color: #000000; /* Azul */
    font-size: 2.3em; /* Tamaño grande */
    cursor: default;
    }
  .cuerpo{
      background-color: #e3f2fd;
      padding: 15px;
      
  }
  h2{
    
    color: #007bff; /* Azul */
    font-size: 3em; /* Tamaño grande */
    cursor: default;
    text-indent: 15px;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .form-floating {
    margin-bottom: 15px;
  }
  
  .alert {
    margin-top: 15px;
  }
  
  .btn-primary  {
    width: 100%;
  }

  
  