<!-- login.component.html -->

<div class="login-container">
    <!-- Título "Smart Home" -->
    <h1 class="title">Smart Home</h1>
  
    <!-- Formulario de Login -->
    <form  (ngSubmit)="onSubmit()" #loginForm="ngForm" method="post">
      <!-- Campo para ID de Usuario -->
  
      <!-- Mensaje de Error -->
      
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Cedula</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div *ngIf="loginError" class="alert alert-danger">
        Credenciales incorrectos. Por favor, inténtalo de nuevo.
      </div>
  
      <!-- Botón de Login -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <!--<input type="submit" class="btn btn-primary" value="Log In" (click)="onSubmit()">-->
    <!--<p>
      {{errorLogin}}jkhkj
    </p>-->
  </div>
  