<!-- login.component.html -->

<div class="cuerpo">
 
  <h2>Smart Home</h2>

 </div> 
<h1 class="text-center">Inicia Sesión</h1><br>
<div class="container">
 


  <div class="login-container">
    <!-- Título "Smart Home" -->
    
  
    <!-- Formulario de Login -->
    <form  (ngSubmit)="onSubmit()" #loginForm="ngForm" class="mt-4">
      <!-- Campo para ID de Usuario -->
  
      <!-- Mensaje de Error -->
      
      <div class="form-floating mb-3">
        <input 
          type="number" 
          class="form-control" 
          id="cedula" 
          name="cedula" 
          pattern="^[1-9]\d*$"
          [(ngModel)]="user.cedula" 
          #cedula="ngModel"
          required
          placeholder="Cedula">
        <label for="cedula">Cedula</label>
        <div *ngIf="(formSubmitted && cedula.invalid) || (cedula.invalid && (cedula.dirty || cedula.touched))" class="text-danger">
          <div *ngIf="cedula.errors?.['required']">Cédula es requerida.</div>
          <div *ngIf="cedula.errors?.['pattern']">Ingrese una cédula valida</div>
        </div>
      </div>
      <div class="form-floating mb-3">
        
        <input 
          type="password" 
          class="form-control" 
          id="contrasena" 
          name="contrasena" 
          [(ngModel)]="user.contrasena" 
          required
          placeholder="Contraseña"        
          #contrasena="ngModel">
          <label for="contrasena">Contraseña:</label>
        <div *ngIf="(formSubmitted && contrasena.invalid) || (contrasena.invalid && (contrasena.dirty || contrasena.touched))" class="text-danger">
          <div *ngIf="contrasena.errors?.['required']">Contraseña es requerida.</div>
        </div>
      </div>
      <div *ngIf="loginError" class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" aria-label="Close" (click)="loginError = false"></button>
        {{errorLogin}}
      </div>
  
      <!-- Botón de Login -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <!--<input type="submit" class="btn btn-primary" value="Log In" (click)="onSubmit()">-->
    <!--<p>
      {{errorLogin}}jkhkj
    </p>-->
  </div>

</div>


<!--<button (click)="Invitado()" type="submit" class="btn btn-secondary">Invitado</button><br><br>
<button (click)="login()" type="submit" class="btn btn-secondary">log in</button>-->


