<!--<app-barra-admin-local></app-barra-admin-local>
<h2 class="text-center">Administradores Locales Registrados</h2>
<div class="container">
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Número</th>
        <th scope="col">Correo</th>
        <th scope="col">luz1</th>
        <th scope="col">luz2</th>
        <th scope="col">luz3</th>
        <th scope="col">alarma</th>
        <th scope="col">temperatura</th>
        <th scope="col">puerta1</th>
        <th scope="col">puerta2</th>
        <th scope="col">puerta3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.cedula }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.numero }}</td>
        <td>{{ user.correo }}</td>
        <td>{{ user.luz1 ? '1' : '0' }}</td>
        <td>{{ user.luz2 ? '1' : '0' }}</td>
        <td>{{ user.luz3 ? '1' : '0' }}</td>
        <td>{{ user.alarma ? '1' : '0' }}</td>
        <td>{{ user.temperatura ? '1' : '0' }}</td>
        <td>{{ user.puerta1 ? '1' : '0' }}</td>
        <td>{{ user.puerta2 ? '1' : '0' }}</td>
        <td>{{ user.puerta3 ? '1' : '0' }}</td>
      </tr>
    </tbody>
  </table>
</div>-->

<app-barra-admin-local></app-barra-admin-local>
<h2 class="text-center">Invitados Registrados</h2>
<div class="container">
  <table class="table table-bordered mt-4" role="table" aria-label="Sample table">
    <thead>
      <tr>
        <th scope="col" role="columnheader">Cédula</th>
        <th scope="col" role="columnheader">Nombre</th>
        <th scope="col" role="columnheader">Número</th>
        <th scope="col" role="columnheader">Correo</th>
        <th scope="col" role="columnheader">luz1</th>
        <th scope="col" role="columnheader">luz2</th>
        <th scope="col" role="columnheader">luz3</th>
        <th scope="col" role="columnheader">alarma</th>
        <th scope="col" role="columnheader">temperatura</th>
        <th scope="col" role="columnheader">puerta1</th>
        <th scope="col" role="columnheader">puerta2</th>
        <th scope="col" role="columnheader">puerta3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index"
          (click)="selectRow(i)"
          (mouseover)="highlightRow(i)"
          (mouseleave)="removeHighlightRow()"
          [class.selected]="selectedRowIndex == i"
          [class.highlighted]="highlightedRowIndex == i">
        <td role="cell">{{ user.cedula }}</td>
        <td role="cell">{{ user.nombre }}</td>
        <td role="cell">{{ user.numero }}</td>
        <td role="cell">{{ user.correo }}</td>
        <td role="cell">{{ user.luz1 ? '1' : '0' }}</td>
        <td role="cell">{{ user.luz2 ? '1' : '0' }}</td>
        <td role="cell">{{ user.luz3 ? '1' : '0' }}</td>
        <td role="cell">{{ user.alarma ? '1' : '0' }}</td>
        <td role="cell">{{ user.temperatura ? '1' : '0' }}</td>
        <td role="cell">{{ user.puerta1 ? '1' : '0' }}</td>
        <td role="cell">{{ user.puerta2 ? '1' : '0' }}</td>
        <td role="cell">{{ user.puerta3 ? '1' : '0' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="custom-button" (click)="Actualizar()">Actualizar Invitado</button>
<button class="custom-button" (click)="Eliminar()">Eliminar invitado</button>
