<app-barra-admin-local></app-barra-admin-local>
<h2 class="text-center">Administradores Locales Registrados</h2>
<div class="container">
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Número</th>
        <th scope="col">Correo</th>
        <th scope="col">luz1</th>
        <th scope="col">luz2</th>
        <th scope="col">luz3</th>
        <th scope="col">alarma</th>
        <th scope="col">temperatura</th>
        <th scope="col">puerta1</th>
        <th scope="col">puerta2</th>
        <th scope="col">puerta3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.cedula }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.numero }}</td>
        <td>{{ user.correo }}</td>
        <td>{{ user.luz1 ? '1' : '0' }}</td>
        <td>{{ user.luz2 ? '1' : '0' }}</td>
        <td>{{ user.luz3 ? '1' : '0' }}</td>
        <td>{{ user.alarma ? '1' : '0' }}</td>
        <td>{{ user.temperatura ? '1' : '0' }}</td>
        <td>{{ user.puerta1 ? '1' : '0' }}</td>
        <td>{{ user.puerta2 ? '1' : '0' }}</td>
        <td>{{ user.puerta3 ? '1' : '0' }}</td>
      </tr>
    </tbody>
  </table>
</div>


