
<table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Dispositivo</th>
        <th scope="col">Consumo por hora[kWh]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luces</td>
        <td>{{ consumos.tluces }}</td>
      </tr>
      <tr>
        <td>Puertas</td>
        <td>{{ consumos.tpuertas }}</td>
      </tr>
      <tr> 
        <td>Alarma</td>
        <td>{{ consumos.talarma }}</td>
      </tr>
      <tr>
        <td>Ventilador</td>
        <td>{{ consumos.tventilador }}</td>
      </tr>
      <tr>
        <td>ESP</td>
        <td>{{ consumos.tesp }}</td>
      </tr>
    </tbody>
  </table>