
<table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Dispositivo</th>
        <th scope="col">Consumo por hora</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luces</td>
        <td>{{ consumos.luces }}</td>
      </tr>
      <tr>
        <td>Puertas</td>
        <td>{{ consumos.puertas }}</td>
      </tr>
      <tr> 
        <td>Alarma</td>
        <td>{{ consumos.alarma }}</td>
      </tr>
      <tr>
        <td>Ventilador</td>
        <td>{{ consumos.ventilador }}</td>
      </tr>
      <tr>
        <td>ESP</td>
        <td>{{ consumos.esp }}</td>
      </tr>
    </tbody>
  </table>