<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem; margin-right: 10px;">
                    <ng-container *ngIf="alarma.estado_alarma === 1">
                        <img src="assets/alarma_encendida.png" class="card-img-top mx-auto" alt="..."  style="width: 250px; height: 300px; object-fit: contain;">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-weight: bold; font-size: 24px;">Alarma</h5>
                            <div class="d-flex justify-content-center">
                                <button mat-flat-button class="btn btn-primary" (click)="apagarAlarma(alarma)">Apagar</button>
                            </div>
                            @if(this.alarmaVisible){
                            <div class="d-flex justify-content-center mt-2">
                                <div class="switch-container">
                                    <span>OFF</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="switchState" (ngModelChange)="onSwitchChange($event)">
                                    </div>
                                    <span>ON</span>
                                </div>
                            </div>
                        }
                        </div>
                    </ng-container>
                    <ng-container *ngIf="alarma.estado_alarma === 0">
                        <img src="assets/alarma_apagada.png" class="card-img-top mx-auto" alt="..."  style="width: 250px; height: 300px; object-fit: contain;">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-weight: bold; font-size: 24px;">Alarma</h5>
                            <div class="d-flex justify-content-center">
                                <button mat-flat-button class="btn btn-primary" (click)="apagarAlarma(alarma)">Apagar</button>
                            </div>
                            @if(this.alarmaVisible){
                            <div class="d-flex justify-content-center mt-2">
                                <div class="switch-container">
                                    <span>OFF</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="switchState" (ngModelChange)="onSwitchChange($event)">
                                    </div>
                                    <span>ON</span>
                                </div>
                            </div>
                        }
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
