
<div class="cuerpo">
    <h1>Smart Home</h1>
  <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;" >
    <div class="container-fluid">
      <a class="navbar-brand" >
        Invitado
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        
          <button class="btn btn-primary" type="submit" (click)="logout()">Log Out</button>
        
      </div>
    </div>
  </nav>
  </div>
